<div class="tab-pane active" id="home" role="tabpanel">
  <div class="card-body">
    <div>
      <button class="btn btn-info" data-toggle="modal" data-target="#status_modal">Share something</button>
      <!--
      <button class="btn btn-success" data-toggle="modal" data-target="#quote_modal">Any favourite quotes?</button>
      -->
    </div>
    <br/>
    <div class="profiletimeline">
      <% timelines.each do |timeline| %>
        <div class="sl-item">
          <% if current_admin || current_hr || ((timeline.publisher == current_active_user) && timeline.manual?) %>
            <%= link_to admin_timeline_path(timeline), method: :delete, class: 'delete-link', data: { confirm: 'Are you sure?' } do %>
              <button class="close text-danger">×</button>
            <% end %>
          <% end %>

          <div class="sl-left">
            <%= image_tag(timeline.publisher.avatar.url, class: 'img-circle') %>
          </div>

          <% if timeline.news? %>
            <%= render 'admin/main/timelines/news', timeline: timeline %>
          <% elsif timeline.status? %>
          <%= render 'admin/main/timelines/status', timeline: timeline %>
          <% elsif timeline.show_off? %>
            <%= render 'admin/main/timelines/show_off', timeline: timeline %>
          <%# elsif timeline.quote? %>
            <%#= render 'admin/main/timelines/quote', timeline: timeline %>
          <% end %>
          <hr>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- status modal content -->
<div id="status_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Share something with your team mates!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <%= form_for [:admin, @timeline], method: :post do |f| %>
          <% if current_admin %>
            <%= f.hidden_field :admin_id, value: current_admin.id %>
          <% elsif current_hr %>
            <%= f.hidden_field :hr_id, value: current_hr.id %>
          <% elsif current_employee %>
            <%= f.hidden_field :employee_id, value: current_employee.id %>
          <% end %>

          <%= f.hidden_field :kind, value: 'status' %>

          <div class="modal-body">
            <div class="row form-group">
              <div class="col-md-12">
                <%= f.label :content, 'Make your post pretty' %>
                <%= f.text_area :content, required: true, rows: 20, autofocus: true, placeholder: 'What would you like to share?', class: 'textarea_editor form-control' %>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <%= f.label :images, 'Upload Image (optional)' %>
                <%= f.file_field :images, multiple: true, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Share", class: 'btn btn-info' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- end status modal -->

<!-- quote modal content -->
<!--
<div id="quote_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Any quotes on mind to motivate you team ?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <%#= form_for [:admin, @timeline], method: :post do |f| %>
          <%#= f.hidden_field :kind, value: 'quote' %>
          <div class="modal-body">
            <div class="row form-group">
              <div class="col-md-12">
                <%#= f.text_field :content, required: true, autofocus: true, placeholder: 'Share a motivating quote...', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%#= f.submit "Share", class: 'btn btn-info' %>
          </div>
        <%# end %>
      </div>
    </div>
  </div>
</div>
-->
<!-- end quote modal -->
