<% content_for :bc_title do %>
  Chat
<% end %>

<% content_for :bc_current do %>
  General Room
<% end %>

<%= render 'shared/dashboard/breadcrumb' %>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card m-b-0">
      <!-- .chat-row -->
      <div class="chat-main-box">
        <!-- .chat-left-panel -->
        <div class="chat-left-aside">
          <div class="open-panel"><i class="ti-angle-right"></i></div>
          <div class="chat-left-inner">
            <div class="form-material">
              <h3 class="p-20">Team Members</h3>
            </div>
            <ul class="chatonline style-none ">
              <% @employees.each do |employee| %>
                <li>
                  <a href="javascript:void(0)" class="<%= 'active' if current_active_user == employee %>"><img src="<%= employee.avatar.url %>" alt="user-img" class="img-circle"> <span><%= employee.full_name %><%= ' (You)' if current_active_user == employee %> <small class="text-success">online</small></span></a>
                </li>
              <% end %>
              <li class="p-20"></li>
            </ul>
          </div>
        </div>
        <!-- .chat-left-panel -->
        <!-- .chat-right-panel -->
        <div class="chat-right-aside">
          <div class="chat-main-header">
            <div class="p-20 b-b">
              <h3 class="box-title">Fustany Team Chat</h3>
            </div>
          </div>
          <div id="chat-area" class="chat-rbox smooth-scroll">
            <ul class="chat-list p-20">
              <div class="chat-area" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
                <% @room_messages.each do |message| %>
                  <% if message.employee == current_active_user %>
                    <!--chat Row -->
                    <li>
                      <div class="chat-img"><img src="<%= current_employee.avatar.url %>" alt="user" /></div>
                      <div class="chat-content">
                        <h5><%= message.employee.full_name %></h5>
                        <div class="box bg-light-info"><%= message.message %></div>
                      </div>
                      <div class="chat-time"><%= message.created_at %></div>
                    </li>
                  <% else %>
                    <!--inverse chat Row -->
                    <li class="reverse">
                      <div class="chat-content">
                        <h5><%= message.employee.full_name %></h5>
                        <div class="box bg-light-inverse"><%= message.message %></div>
                      </div>
                      <div class="chat-img"><img src="<%= message.employee.avatar.url %>" alt="user" /></div>
                      <div class="chat-time"><%= message.created_at %></div>
                    </li>
                  <% end %>
                <% end %>
              </div>
            </ul>
          </div>
          <%= form_for [:admin, @new_message], remote: true do |f| %>
            <%= f.hidden_field :room_id, value: @room.id %>

            <div class="card-body b-t">
              <div class="row">
                <div class="col-8">
                  <%= f.text_field :message, required: true, autocomplete: :off, placeholder: 'Type your message here...', id: 'new_room_message', class: 'form-control b-0' %>
                </div>
                <div class="col-4 text-right">
                  <%= f.submit 'Send', class: 'btn btn-info btn-lg' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!-- .chat-right-panel -->
      </div>
      <!-- /.chat-row -->
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->

<div class="d-none" data-role="message-template">
  <li class="animated slideInUp">
    <div class="chat-img"><img src="" alt="user" data-role="user-avatar" /></div>
    <div class="chat-content">
      <h5 data-role="message-sender"></h5>
      <div class="box bg-light-info" data-role="message-text"></div>
    </div>
    <div class="chat-time" data-role="message-date"></div>
  </li>
</div>

<div class="d-none" data-role="inv-message-template">
  <li class="reverse animated slideInUp">
    <div class="chat-content">
      <h5 data-role="message-sender"></h5>
      <div class="box bg-light-inverse" data-role="message-text"></div>
    </div>
    <div class="chat-img"><img src="" alt="user" data-role="user-avatar" /></div>
    <div class="chat-time" data-role="message-date"></div>
  </li>
</div>
