<% content_for :bc_title do %>
  Attendance
<% end %>

<% content_for :bc_current do %>
  All Attendances
<% end %>

<% content_for :bc_buttons do %>
<% end %>

<%= render 'shared/dashboard/breadcrumb' %>

<% if current_admin || current_hr || (@settings.ip_addresses[0]&.split(',')&.include?(request.remote_ip)) %>
  <% if current_admin || current_hr || (cookies[:ft_att_ver] == current_employee.access_token) %>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Attendance Sheet</h4>
        <%= link_to checkin_admin_attendances_path, method: :post, data: { confirm: 'Got your coffee ?, Ready to start?' } do %>
          <button class="btn btn-success"><b>Check-in!</b></button>
        <% end %>
        <%= link_to checkout_admin_attendances_path, method: :post, data: { confirm: 'Finished everything ? ready to go home ?' } do %>
          <button class="btn btn-warning"><b>Check-out!</b></button>
        <% end %>
        <div class="table-responsive m-t-40">
          <table id="myTable" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Name</th>
                <th>Date</th>
                <th>Checkin</th>
                <th>Checkout</th>
                <th>Time Spent</th>
              </tr>
            </thead>
            <tbody>
              <% @attendances.each do |attendance| %>
                <tr>
                  <td><%= image_tag(attendance.employee.avatar.thumb.url, class: 'table-thumb') %></td>
                  <td><%= link_to attendance.employee.full_name, admin_employee_path(attendance.employee) %></td>
                  <td><%= formatted_date(attendance.checkin) %></td>
                  <td><%= formatted_time(attendance.checkin) %></td>
                  <td><%= formatted_time(attendance.checkout) || 'Still working...' %></td>
                  <td><%= attendance.time_spent || 'Waiting for checkout...' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% else %>
    <%= render 'unauthorized_device' %>
  <% end %>
<% else %>
  <%= render 'unauthorized_network' %>
<% end %>
