<% if params[:success] %>
  <h1 class="vc-heading">Done!</h1>
  <p class="vc-sub-heading">You have <span class="blink-infinite">successfully postponed</span> your checkout time</p>
  <p class="vc-sub-heading">You'll be notified on: <span class="blink-infinite"><%= params[:time].to_datetime.strftime('%d-%m-%Y') %></span> at: <span class="blink-infinite"><%= params[:time].to_datetime.strftime('%I:%M %p') %></span></p>
<% elsif params[:error] == '1' %>
  <h1 class="vc-heading">OOPS!</h1>
  <p class="vc-sub-heading">You have <span class="blink-infinite">already checked-out</span> today!</p>
<% elsif params[:error] == '2' %>
  <h1 class="vc-heading">OOPS!</h1>
  <p class="vc-sub-heading">Token <span class="blink-infinite">expired or invalid!</span>, Please login to check-out.</p>
  <p><a href="http://team.fustany.com" target="_blank" class="link">Click here!</a> to login</p>
<% elsif params[:error] == '3' %>
  <h1 class="vc-heading">OOPS!</h1>
  <p class="vc-sub-heading"><span class="blink-infinite">Unauthorized network detected!</span>, Please use any available authorized network then try again.</p>
<% elsif params[:error] == '4' %>
  <h1 class="vc-heading">Nice Try!</h1>
  <p class="vc-sub-heading">Your account has been <span class="blink-infinite">suspended!</span></p>
<% elsif !params[:token] %>
  <h1 class="vc-heading">Hello</h1>
  <p class="vc-sub-heading">There is <span class="blink-infinite">nothing much</span> to do here!</p>
<% elsif params[:token] && !params[:time] %>
  <h1 class="vc-heading">When?</h1>
  <p class="vc-sub-heading">Notify me <span class="blink-infinite">at</span>:</p>
  <%= form_tag postpone_checkout_reminder_admin_attendances_path, method: :get do %>
    <%= hidden_field_tag :token, '', value: params[:token] %>
    <div class="form-group">
      <input type="time" name="time" class="form-control">
    </div>
    <div class="form-group">
      <%= submit_tag 'Postpone', class: 'btn btn-success' %>
    </div>
  <% end %>
<% end %>
