<% content_for :bc_title do %>
  Employees
<% end %>

<% content_for :bc_current do %>
  All Employees
<% end %>

<% content_for :bc_buttons do %>
  <a href="<%= new_admin_employee_path %>"><button type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i> New Employee</button></a>
<% end %>

<%= render 'shared/dashboard/breadcrumb' %>

<div class="card">
	<div class="card-body">
    <h4 class="card-title">Employees</h4>
    <div class="table-responsive m-t-40">
      <table id="myTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Birthdate</th>
            <th>Level</th>
            <th>Attendance</th>
						<th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= image_tag(employee.avatar.thumb.url, class: 'table-thumb') %></td>
              <td><%= link_to employee.full_name, admin_employee_path(employee) %></td>
              <td><%= employee.email %></td>
              <td><%= employee.birthdate&.strftime('%d/%m/%Y') %></td>
							<td align="center">
                <%= link_to 'Demote to employee', toggle_level_admin_employee_path(employee),
                                              method: :post,
                                              id: "disable_#{employee.id}",
                                              class: 'btn btn-sm btn-danger',
                                              onclick: "toggle(#{employee.id});",
                                              style: employee.supervisor? ? 'display: block;' : 'display: none;' %>
                <%= link_to 'Promote to supervisor', toggle_level_admin_employee_path(employee),
                                                 method: :post,
                                                 id: "enable_#{employee.id}",
                                                 class: 'btn btn-sm btn-success',
                                                 onclick: "toggle(#{employee.id});",
                                                 style: employee.supervisor? ? 'display: none;' : 'display: block;' %>
              </td>
              <td>
                <a href="<%= grant_admin_attendance_path(employee) %>" data-method="post" data-toggle="tooltip" data-original-title="Grant browser access" data-confirm="After clicking ok, Please ask an employee to checkin at least once!" class="grant-link"> <i class="fa fa-check text-success m-r-10"></i> </a>
                <a href="<%= revoke_admin_attendance_path(employee) %>" data-method="post" data-toggle="tooltip" data-original-title="Revoke" data-confirm="Are you sure ?"> <i class="fa fa-times text-danger m-r-10"></i> </a>
              </td>
              <td>
                <a href="<%= resend_mail_admin_employee_path(employee) %>" data-method="post" data-toggle="tooltip" data-original-title="Resend Welcome Mail" data-confirm="Resend welcome mail?"> <i class="fa fa-envelope text-inverse m-r-10"></i> </a>
                <a href="<%= edit_admin_employee_path(employee) %>" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                <a href="<%= admin_employee_path(employee) %>" data-method="delete" data-toggle="tooltip" data-original-title="Delete" data-confirm="Are you sure?" class="delete-link"> <i class="fa fa-close text-danger"></i> </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
