<div class="like-comm m-t-20">
  <strong>
    <a href="<%= admin_timeline_path(timeline) %>" class="link m-r-10 comments-link">
      <i class="fa fa-comment-o text-<%= 'info' if timeline.comments.any? %>"></i> <%= pluralize(timeline.comments.size, 'Comment') %> 
      <span class="<%= 'd-none' unless timeline.comments.any? %>">, last one by <%= timeline.comments&.last&.owner&.name %></span>
    </a> 
  </strong>

  <strong>
    <a href="<%= toggle_admin_timeline_reacts_path(timeline) %>" data-method="post" class="link m-r-10 seen-link toggle-seen-link-<%= timeline.id %> <%= 'text-info' if timeline.reacts.any? %>" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<%= timeline.reacts.collect { |r| r.reactor.name  }.map { |n| "#{n}<br>" }.join %>" onclick='toggleSeen(<%= timeline.id %>);'>
      <i class="fa fa-eye"></i> <%= pluralize(timeline.reacts.size, 'Teammate') %> :cry:

    </a>
  </strong>
</div>

<script>
</script>
