<div class="sl-right">
  <div>
    <a href="#" class="link"><%= timeline.owner.full_name %></a> <span class="sl-date"><%= time_ago_in_words(timeline.created_at) %> ago</span>
    <div class="m-t-20 row">
      <div class="col-md-3 col-xs-12">
        <img src="<%= timeline.image %>" class="img-responsive radius">
      </div>
      <div class="col-md-9 col-xs-12">
        <p><%= timeline.content.html_safe %></p>
      </div>
    </div>

    <%= render 'admin/main/timelines/comments' %>
  </div>
</div>
