<div class="sl-right">
  <div>
    <a href="#" class="link"><%= timeline.owner.name %></a> <span class="sl-date"><%= time_ago_in_words(timeline.created_at) %> ago</span>
    <p><%= timeline.content.html_safe %></p>
    <div class="row">
      <% timeline.images.map do |image| %>
        <div class="col-lg-3 col-md-6 m-b-20">
          <%= image_tag(image.url, class: 'img-responsive radius') %>
        </div>
      <% end %>
    </div>

    <%= render 'admin/main/timelines/comments', timeline: timeline %>
  </div>
</div>
