<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2><%= resource_name.capitalize %> Login</h2>
  <div class="form-style-agile">
    <%= f.email_field :email, placeholder: 'Enter your email...', autofocus: true, autocomplete: "email" %>
  </div>
  <div class="form-style-agile">
    <%= f.password_field :password, placeholder: 'Enter your password...', autocomplete: "off" %>
  </div>
  <!-- checkbox -->
  <div class="wthree-text">
    <ul>
      <li>
        <a href="#">Forgot Password?</a>
      </li>
    </ul>
  </div>
  <!-- //switch -->
  <%= f.submit "Log in", class: "login100-form-btn" %>
<% end %>
