<% content_for :bc_title do %>
  Performance
<% end %>

<% content_for :bc_current do %>
  <%= @employee.full_name %>'s Performance
<% end %>

<% content_for :bc_buttons do %>
  <a href="<%= admin_employees_path %>"><button type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i> Back to employees</button></a>
<% end %>

<%= render 'shared/dashboard/breadcrumb' %>

<div class="card">
	<div class="card-body">
    <h4 class="card-title"><%= @employee.full_name %>'s Performance Appraisals</h4>
    <br/>
    <%= button_to 'New Entry', new_admin_employee_performance_path(@employee), method: :get, class: 'btn btn-md btn-success' %>
    <div class="table-responsive m-t-40">
      <table id="myTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Score</th>
            <th>Year</th>
            <th>Month</th>
            <th>Comments</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @performances.each do |performance| %>
            <tr>
              <td><%= performance.topic %></td>
              <td><%= performance.score %></td>
              <td><%= performance.year %></td>
              <td><%= performance.month %></td>
              <td><span data-toggle="tooltip" data-placement="top" data-html="true" title="<%= performance.comment.html_safe %>">Publich Comment</span> - <span data-toggle="tooltip" data-placement="top" data-html="true" title="<%= performance.hr_comment.html_safe %>">My Comment</span></td>
              <td>
                <a href="<%= edit_admin_employee_performance_path(@employee, performance) %>" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                <a href="<%= admin_employee_performance_path(@employee, performance) %>" data-method="delete" data-toggle="tooltip" data-original-title="Delete" data-confirm="Are you sure?" class="delete-link"> <i class="fa fa-close text-danger"></i> </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
