<% content_for :bc_title do %>
  Dashboard Settings
<% end %>

<% content_for :bc_current do %>
  Settings
<% end %>

<% content_for :bc_buttons do %>
  <a href="<%= refresh_permissions_admin_settings_path %>" data-method="post" class="refresh-link"><button type="button" class="btn btn-warning"><i class="fa fa-refresh"></i> Refresh Permissions</button></a>
<% end %>

<%= render 'shared/dashboard/breadcrumb' %>

<div class="row">
  <div class="col-7">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="m-b-0 text-white">Settings</h4>
      </div>
      <div class="card-body">  
        <br/>
        <%= form_for [:admin, @settings], method: :patch, html: { id: 'settings-form', help: :block } do |f| %>

          <div class="row">
            <div class="col-md-12">          
              <div class="form-group">        
                <%= f.label :ip_addresses, 'Allowed IP Addresses' %> <b>(Current IP: <%= request.remote_ip %>)</b>
                <br/>
                <%= f.text_field :ip_addresses, value: @settings.ip_addresses[0], multiple: true, data: { role: 'tagsinput' }, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">          
              <div class="form-group">        
                <%= f.label :work_from_home, 'Work from home limit' %> <b>(Number of days)</b>
                <br/>
                <%= f.number_field :work_from_home, required: true, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">          
              <div class="form-group">        
                <%= f.label :send_attendance_summary, 'Send attendance summary after checkout' %>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="enable-att-sum" name="setting[send_attendance_summary]" value="true" class="custom-control-input" <%= 'checked' if @settings.send_attendance_summary? %>>
                      <label class="custom-control-label" for="enable-att-sum">Enable</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="disable-att-sum" name="setting[send_attendance_summary]" value="false" class="custom-control-input" <%= 'checked' unless @settings.send_attendance_summary?  %>>
                      <label class="custom-control-label" for="disable-att-sum">Disable</label>
                    </div>
                  </div>
                </div>
                <br/>
              </div>
            </div>
            <div class="col-md-6">          
              <div class="form-group">        
                <%= f.label :send_checkout_reminder, 'Send checkout reminder' %>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="enable-chkout-rem" name="setting[send_checkout_reminder]" value="true" class="custom-control-input" <%= 'checked' if @settings.send_checkout_reminder? %>>
                      <label class="custom-control-label" for="enable-chkout-rem">Enable</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="disable-chkout-rem" name="setting[send_checkout_reminder]" value="false" class="custom-control-input" <%= 'checked' unless @settings.send_checkout_reminder? %>>
                      <label class="custom-control-label" for="disable-chkout-rem">Disable</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">          
              <div class="form-group">        
                <%= f.label :checkout_reminder_minutes, 'Send reminder' %> <b>(When Enabled)</b>

								<div class="input-group mb-3">
									<%= f.number_field :checkout_reminder_minutes, step: 1, min: 5, required: true, class: 'form-control' %>
									<div class="input-group-append">
										<span class="input-group-text" id="basic-addon2">Mins before leaving</span>
									</div>
								</div>
              </div>
            </div>
            <div class="col-md-6">          
              <div class="form-group">        
                <%= f.label :add_remaining_checkout_time, 'Add remaining checkout time (When Enabled)' %>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="enable-add-time" name="setting[add_remaining_checkout_time]" value="true" class="custom-control-input" <%= 'checked' if @settings.add_remaining_checkout_time? %>>
                      <label class="custom-control-label" for="enable-add-time">Enable</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="disable-add-time" name="setting[add_remaining_checkout_time]" value="false" class="custom-control-input" <%= 'checked' unless @settings.add_remaining_checkout_time? %>>
                      <label class="custom-control-label" for="disable-add-time">Disable</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.submit 'Save', class: 'btn btn-md btn-info' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $("#settings-form").on("keypress", function (e) {
    if (e.keyCode == 13) {
      return false;            
    } 
  });
</script>
