<% content_for :bc_title do %>
  Users
<% end %>

<% content_for :bc_current do %>
  All Users
<% end %>

<% content_for :bc_buttons do %>
  <a href="<%= new_admin_user_path %>"><button type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i> New User</button></a>
<% end %>

<%= render 'shared/dashboard/breadcrumb' %>

<div class="card">
	<div class="card-body">
    <h4 class="card-title">Users</h4>
    <div class="table-responsive m-t-40">
      <table id="myTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Birthdate</th>
						<th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag(user.avatar.thumb.url, class: 'table-thumb')  %></td>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td><%= user.birthdate&.strftime('%d/%m/%Y') %></td>
              <td>
                <a href="<%= edit_admin_user_path(user) %>" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                <a href="<%= admin_user_path(user) %>" data-method="delete" data-toggle="tooltip" data-original-title="Delete" data-confirm="Are you sure?" class="delete-link"> <i class="fa fa-close text-danger"></i> </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
