<% if !@current_attendance %>
  <% unless cookies[:ft_att_ci_rem] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> <%= current_active_user.first_name %>, You haven't check-in yet!</h3>
      <br>
      <%= link_to checkin_admin_attendances_path, method: :post, data: { confirm: 'Got your coffee ?, Ready to start?' } do %>
        <button class="btn btn-success"><b>Check-in now!</b></button>
      <% end %>
      <%= link_to checkin_reminder_admin_attendances_path, method: :post do %>
        <button class="btn btn-info"><b>Remind me in 2 hours!</b></button>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% unless @current_attendance.checkout %>
    <% unless cookies[:ft_att_co_rem] %>
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        <h3 class="text-info"><i class="fa fa-exclamation-circle"></i> Glad to see you today <%= current_active_user.first_name %>!</h3>
        <div class="row">
          <div class="col-12">
            <b>Don't forget to check-out before you leave.</b>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- Column -->
            <div class="p-r-40 m-t-30 m-b-30">
              <h5 class="m-t-30">Time spent today:<span class="pull-right"><%= @time_spent_percentage %>%</span></h5>
                <div class="progress ">
                  <div class="progress-bar bg-<%= @progress_color %> wow animated progress-animated" style="width: <%= @time_spent_percentage %>%; height:6px;" role="progressbar"></div>
                </div>
            </div>
            <!-- Column -->

            <!-- Column -->
            <div class="p-r-40 m-t-30 m-b-30">
              <h5 class="m-t-30">Time spent this month: <b><%= @hours_spent_this_month %> Hours</b></h5>
            </div>
            <!-- Column -->
          </div>
        </div>
        <%= link_to checkout_admin_attendances_path, method: :post, data: { confirm: 'Finished everything ? ready to go home ?' } do %>
          <button class="btn btn-success"><b>I'm going home!</b></button>
        <% end %>
        <%= link_to checkout_reminder_admin_attendances_path, method: :post do %>
          <button class="btn btn-info"><b>Remind me in 2 hours!</b></button>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
