<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= admin_path %>">
                <!-- Logo icon --><b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="/dashboard/images/logo-icon.png" alt="homepage" class="dark-logo" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text --><span>
                <img src="/dashboard/images/logo-text.png" alt="homepage" class="dark-logo" />
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="sl-icon-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="sl-icon-menu"></i></a> </li>
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="icon-Magnifi-Glass2"></i></a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                </li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Comment -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle waves-effect waves-dark notification-menu-btn" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-Bell"></i>
                    <% if @notifications.unread.any? %>
                      <div id="hearbit-notifications">
                        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                      </div>
                    <% end %>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                    <ul>
                      <li>
                        <div class="drop-title">
                          Notifications
                        </div>
                        
                      </li>
                      <li>
                        <div class="message-center">
                          <% @notifications.each do |notification| %>
                            <!-- Message -->
                            <a href="#" class="<%= 'notification-menu-item-bg' if notification.unread? %>">
                              <div class="btn btn-pink btn-circle"><i class="fa fa-bell"></i></div>
                              <div class="mail-contnet">
                                <h5></h5> <span class="mail-desc"><b><%= notification.content %></b></span> <span class="time"><%= formatted_time(notification.created_at) %></span>
                              </div>
                            </a>
                          <% end %>
                        </div>
                      </li>
                      <li>
                        <a class="nav-link text-center all-notifications-link" href="<%= admin_notifications_path(user: "#{current_active_user.class.name.downcase}-#{current_active_user.id}") %>"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                      </li>
                      <% unless current_employee %>
                        <li>
                          <a class="nav-link text-center notification-to-all" href="javascript:void(0);" data-toggle="modal" data-target="#notification_modal"> <strong>Send Notification</strong> <i class="fa fa-bell"></i> </a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </li>
                <!-- ============================================================== -->
                <!-- End Comment -->
                <!-- ============================================================== -->

								<!-- ============================================================== -->
								<!-- Messages -->
								<!-- ============================================================== -->
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-Mail"></i>
										<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
									</a>
									<div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2">
										<ul>
											<li>
                        <div class="drop-title">
                          You have 1 new message
                        </div>
											</li>
											<li>
												<div class="message-center">
													<!-- Message -->
													<a href="#">
                            <div class="user-img">
                              <img src="/dashboard/images/logo-icon.png" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span>
                            </div>
														<div class="mail-contnet">
															<h5>Amir Adel</h5> <span class="mail-desc">Stay tuned!</span> <span class="time">9:30 AM</span>
														</div>
													</a>
												</div>
                      </li>
                      <li>
                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all messages</strong> <i class="fa fa-angle-right"></i> </a>
                      </li>
                    </ul>
                  </div>
								</li>
								<!-- ============================================================== -->
								<!-- End Messages -->
								<!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown u-pro">
                  <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="<%= current_active_user.profile_pic.thumb.url %>" alt="user" class="" /> <span class="hidden-md-down"><%= current_active_user.name %> &nbsp;<i class="fa fa-angle-down"></i></span> </a>
                    <div class="dropdown-menu dropdown-menu-right animated flipInY">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                  <div class="u-img"><img src="<%= current_active_user.profile_pic.small_200.url %>" alt="user"></div>
                                    <div class="u-text">
                                      <h4><%= current_active_user.name %></h4>
                                      <p class="text-muted"><%= current_active_user.job_description %></p>
                                      <a href="<%= update_profile_url(current_active_user) %>" class="btn btn-rounded btn-info btn-sm">Update Profile</a>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="<%= update_profile_url(current_active_user) %>" class='my-profile-btn'><i class="ti-user"></i> My Profile</a></li>
                            
                            <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#change_password"><i class="ti-settings"></i> Change Password</a></li>
                            <li role="separator" class="divider"></li>
                            <% if current_admin %>
                              <li><a href="<%= destroy_admin_session_path %>" data-method="delete" class="logout-btn"><i class="fa fa-power-off"></i> Logout</a></li>
                            <% elsif current_hr %>
                              <li><a href="<%= destroy_hr_session_path %>" data-method="delete"><i class="fa fa-power-off"></i> Logout</a></li>
                            <% elsif current_employee %>
                              <li><a href="<%= destroy_employee_session_path %>" data-method="delete"><i class="fa fa-power-off"></i> Logout</a></li>
                            <% end %>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- change password modal content -->
<div id="change_password" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Change your password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          <%= form_tag admin_change_password_path, method: :post do %>
            <div class="modal-body">
              <div class="row form-group">
                <div class="col-md-12">
                  <%= password_field_tag :current_password, '', required: true, autofocus: true, placeholder: 'Enter old password..', class: 'form-control' %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <%= password_field_tag :password, '', required: true, placeholder: 'Enter new password..', class: 'form-control' %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <%= password_field_tag :password_confirmation, '', required: true, placeholder: 'Confirm new password..', class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= submit_tag "Change", class: 'btn btn-info' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<!-- /.modal -->

<!-- notifications modal content -->
<div id="notification_modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Send notification to all Fustany Team! &nbsp; <span class="custom-hover" data-html="true" data-container="body" title="<strong>Please be carefull!<strong>" data-toggle="popover" data-placement="top" data-content="<strong>Notifications that are sent to team members are irreversable, Please double check before sending.</strong>"><a><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Click me please!"></i></span></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <%= form_for [:admin, @notification], method: :post, remote: true do |f| %>

          <div class="modal-body">
            <div class="row form-group">
              <div class="col-md-12">
                <strong><%= f.label :content, 'Send notification to Fustany Team' %></strong>
                <%= f.text_area :content, required: true, rows: 4, autofocus: true, placeholder: 'Notify you member with...', class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Send", class: 'custom-modal-btn btn btn-info', onclick: 'closeModal("notification_modal");' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- end notification modal -->
