<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle waves-effect waves-dark notification-menu-btn" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-Bell"></i>
    <% if @notifications.unread.any? %>
      <div id="hearbit-notifications">
        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
      </div>
    <% end %>
  </a>
  <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
    <ul>
      <li>
        <div class="drop-title">
          Notifications (<%= @notifications.unread.count %> new)
        </div>
        
      </li>
      <li>
        <div class="message-center">
          <% @notifications.each do |notification| %>
            <!-- Message -->
            <a href="<%= notification.link || admin_notifications_path(user: "#{current_active_user.class.name.downcase}-#{current_active_user.id}") %>" class="<%= 'notification-menu-item-bg' if notification.unread? %>">
              <div class="btn <%= notification.unread? ? 'btn-success' : 'btn-pink' %> btn-circle"><i class="fa fa-bell"></i></div>
              <div class="mail-contnet">
                <h5></h5> <span class="mail-desc"><b><%= truncate(notification.content, length: 28) %></b></span> <span class="time"><%= formatted_time(notification.created_at) %></span>
              </div>
            </a>
          <% end %>
        </div>
      </li>
      <li>
        <a class="nav-link text-center all-notifications-link" href="<%= admin_notifications_path(user: "#{current_active_user.class.name.downcase}-#{current_active_user.id}") %>"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
      </li>
      <% unless current_employee %>
        <li>
          <a class="nav-link text-center notification-to-all" href="javascript:void(0);" data-toggle="modal" data-target="#notification_modal"> <strong>Send Notification</strong> <i class="fa fa-bell"></i> </a>
        </li>
      <% end %>
    </ul>
  </div>
</li>
