<nav class="sidebar-nav">
  <ul id="sidebarnav">
    <% if current_admin %>
      <li class="nav-small-cap">--- Settings</li>
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-gears"></i><span class="hide-menu">Settings </span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'Dashboard Settings', dashboard_admin_settings_path %></li>
        </ul>
      </li>
   
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-lock"></i><span class="hide-menu">Roles </span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'All Roles', admin_roles_path %></li>
          <li><%= link_to 'New Role', new_admin_role_path %></li>
        </ul>
      </li>

      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-user-secret"></i><span class="hide-menu">Supervisors </span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'All H.Rs', admin_hrs_path %></li>
          <li><%= link_to 'New H.R', new_admin_hr_path %></li>
        </ul>
      </li>
    <% end %>

  <% if can? :read, User %>
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Users </span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'All Users', admin_users_path %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>
