<nav class="sidebar-nav">
  <ul id="sidebarnav">
    <!-- ============================================================== -->
    <!-- Developers only items -->
    <!-- ============================================================== -->
    <% if current_admin || current_hr || ENV['DEVELOPERS']&.include?(current_active_user.email) %>
      <li class="nav-small-cap">--- Developers</li>
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-gears"></i><span class="hide-menu">Updates </span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'Reset IP Address', reset_ip_admin_updates_path, method: :post, data: { confirm: 'Are you sure ?' }, class: 'reset-link' %></li>
          <% if current_active_user.email == 'amir.adel@fustany.com' %>
            <li><%= link_to 'All Updates', admin_updates_path %></li>
            <li><%= link_to 'Announce Update', new_admin_update_path %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <!-- ============================================================== -->
    <!-- Developers only items end -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Admin only items -->
    <!-- ============================================================== -->
    <% if current_admin %>
      <li class="nav-small-cap">--- Settings</li>
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-gears"></i><span class="hide-menu">Settings </span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'Dashboard Settings', dashboard_admin_settings_path %></li>
        </ul>
      </li>
   
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-lock"></i><span class="hide-menu">Roles </span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'All Roles', admin_roles_path %></li>
          <li><%= link_to 'New Role', new_admin_role_path %></li>
        </ul>
      </li>

      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-lock"></i><span class="hide-menu">Sections </span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'All Sections', admin_sections_path %></li>
          <li><%= link_to 'New Section', new_admin_section_path %></li>
        </ul>
      </li>

      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-user-secret"></i><span class="hide-menu">H.Rs </span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'All H.Rs', admin_hrs_path %></li>
          <li><%= link_to 'New H.R', new_admin_hr_path %></li>
        </ul>
      </li>
    <% end %>
    <!-- ============================================================== -->
    <!-- Admin only items end -->
    <!-- ============================================================== -->
    <li class="nav-small-cap">--- Fustany</li>
    <!-- ============================================================== -->
    <!-- H.R only items -->
    <!-- ============================================================== -->
    <% if can? :read, Employee %>
      <li> 
        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-users"></i>
          <span class="hide-menu">Employees 
            <% if upcoming_birthdays %>
              <span class="label label-rounded label-info"><%= upcoming_birthdays %></span>
            <% end %>
          </span>
        </a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to "Birthdays (#{upcoming_birthdays || 0})", birthdays_admin_employees_path %></li>
          <li><%= link_to 'All Employees', admin_employees_path %></li>
          <li><%= link_to 'New Employee', new_admin_employee_path %></li>
        </ul>
      </li>
    <% end %>

    <% if current_employee %>
      <li> 
        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-users"></i>
          <span class="hide-menu">Birthdays 
            <% if upcoming_birthdays %>
              <span class="label label-rounded label-info"><%= upcoming_birthdays %></span>
            <% end %>
          </span>
        </a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to "Birthdays (#{upcoming_birthdays || 0})", birthdays_admin_employees_path %></li>
        </ul>
      </li>
    <% end %>

    <% if (can? :read, Performance) || (can? :employee_performance, Performance) %>
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-bookmark"></i><span class="hide-menu">Performance </span></a>
        <ul aria-expanded="false" class="collapse">
          <% if current_employee %>
            <li><%= link_to 'My Performance', employee_performance_admin_employee_performances_path(current_employee) %></li>
          <% end %>
          <% if can? :read, PerformanceTopic %>
            <li><%= link_to 'Performance Topics', admin_performance_topics_path %></li>
          <% end %>
          <% unless current_employee %>
            <li><%= link_to 'Assign Performance', admin_employees_path %></li>
            <li><%= link_to 'Compare', admin_employees_path %></li>
          <% end %>
        </ul>
      </li>
    <% end %>

    <% if can? :read, Recruitment %>
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-address-card"></i><span class="hide-menu">Recruitment </span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'All Candidates', admin_recruitments_path %></li>
          <li><%= link_to 'New Candidate', new_admin_recruitment_path %></li>
        </ul>
      </li>
    <% end %>
    <!-- ============================================================== -->
    <!-- H.R only items end -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Permission required items -->
    <!-- ============================================================== -->
    <% if can? :read, Message %>
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Mailbox <span class="label label-rounded label-<%= @inbox.unread.any? ? 'info' : 'success' %>"><%= @inbox.unread.size %></span></span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'Inbox', admin_messages_path %></li>
          <li><%= link_to 'Sent', admin_messages_path(t: 'sent') %></li>
        </ul>
      </li>
    <% end %>

    <% if can? :read, Room %>
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-comments"></i><span class="hide-menu">Chat </span></a>
        <ul aria-expanded="false" class="collapse">
          <% if @main_room %>
            <li><%= link_to 'Fustany Team', admin_room_path(@main_room) %></li>
            <li><%= link_to 'Private Chat (Soon)', admin_path %></li>
          <% else %>
            <li><%= link_to 'Contact Admin', admin_path %></li>
          <% end %>
        </ul>
      </li>
    <% end %>

    <% if can? :read, Holiday %>
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-address-card"></i><span class="hide-menu">Holidays </span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'All Holidays', admin_holidays_path %></li>
          <li><%= link_to 'New Holiday', new_admin_holiday_path %></li>
        </ul>
      </li>
    <% end %>

    <% if can? :read, Attendance %>
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-500px"></i><span class="hide-menu">Attendance </span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'Attendance Log', admin_attendances_path %></li>
          <% if can? :reports, Attendance %>
            <li><%= link_to 'Attendance Reports', reports_admin_attendances_path %></li>
          <% end %>
        </ul>
      </li>
    <% end %>

    <% if current_employee || (can? :read, VacationRequest) %>
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-star"></i><span class="hide-menu">Vacations <span class="label label-rounded label-<%= @pending_requests.any? ? 'info' : 'success' %>"><%= @pending_requests.size %></span></span></a>
        <ul aria-expanded="false" class="collapse">
          <li><%= link_to 'Vacations Requests', admin_vacation_requests_path %></li>

          <% if current_hr || current_employee&.supervisor? %>
            <li><%= link_to 'Pending Requests', pending_admin_vacation_requests_path %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <!-- ============================================================== -->
    <!-- Permission required items end -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Employee only items -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Employee only items end -->
    <!-- ============================================================== -->
  </ul>
</nav>
